<!DOCTYPE html>
<html lang="en">
{{> header this}}

<body>
{{> navigation this}}

{{!-- Register --}}

<div class="container mt-4" style="width: 28rem;">
    <div class="card">
        <div class="card-header">Create new user</div>
        <div class="card-body">
            {{> messages this}}
            <form action="/register" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input id="name" name="name" type="text" class="form-control" value="{{name}}">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" name="email" type="text" class="form-control" value="{{email}}">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input id="password" name="password" type="password" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label">Confirm Password</label>
                    <input id="password2" name="password2" type="password" class="form-control">
                </div>

                <button class="btn btn-primary">Create account</button>
            </form>
        </div>
    </div>
</div>

{{> footer this}}
</body>
</html>